.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.no-underline {
  text-decoration: none;
}

.menu-tap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.menu-title {
  padding-top: 70px;
  padding-left: 40px;
}

.heart {
  color: red;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.home-logo {
  padding-left: 30;
}

.home-btns {
  display: flex;
  flex-direction: column;
  height: 165px;
  justify-content: space-around;
  align-items: center;
}

.search-go {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 268px;
}

.go-btn {
  border-radius: 30px;
}

.find-header {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 120px;
}

.find-logo {
  transform: scale(4);
  padding: 35px;
  color: grey;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
